<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Responsive Table</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  
      <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">
     
function myFunction(){

  
}
     
  </script>
</head>

<body>
  <div class="table-users">
   <div class="header"><b>Welcome to Rest-O-Pace</b></div>
   <div class ="header"> Here you can see the restaurants near Pace University! You can also get results filtered by ratings. Now let's click the buttons below and check it out! </div>
   <table cellspacing="0">
		<tr>
		<button class="button" onclick="location.href='http://192.168.99.100:5000/restodb/allrestaurants';" ><span>Show all</span></button>
    <button class="button" onclick="location.href='http://192.168.99.100:5000/restodb/allrestaurants/*';" ><span>1 Star</span></button>
    <button class="button" onclick="location.href='http://192.168.99.100:5000/restodb/allrestaurants/**';" ><span>2 Star</span></button>
    <button class="button" onclick="location.href='http://192.168.99.100:5000/restodb/allrestaurants/***';" ><span>3 Star</span></button>
    <button class="button" onclick="location.href='http://192.168.99.100:5000/restodb/allrestaurants/****';" ><span>4 Star</span></button>
		
		
		</tr>

   <tr>
         <th>Restaurant's Name</th>
         <th>Distance(in miles)</th>
         <th>Type</th>
         <th>Price</th>
         <th>Ratings</th>
      </tr>
  {% for item in items %}
	<tr>

     <td scope="row"> {{ item.name }} </td>
     <td scope="row"> {{ item.distance }} </td>
     <td scope="row"> {{ item.type }} </td>
     <td scope="row"> {{ item.price }} </td>
     <td scope="row"> {{ item.ratings }} </td>
	 
	</tr>
  {% endfor %}

   </table>
</div>
  
  
</body>
</html>
